#cars {
    display: flex;
  }
  
  .carPreview {
    position: relative;
    margin: 10px;
    background: #060c2100;
  }
  
  .carPreview:before{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -0px;
    background: #fff;
    z-index: -1;
  }
  
  .carPreview:after{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -1px;
    background: rgb(243, 0, 0);
    z-index: -2;
    filter: blur(40px);
  }
  
  .carPreview:before,.carPreview:after{
    background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
    animation: animate 20s linear infinite;
    background-size: 400%;
  }
  
  .carPreview > a > img {
    max-width: 25rem;
    height: 200px;
  }
  
  @keyframes animate{
    0%
    {
      background-position: 0 0;
    }
    50%
    {
      background-position: 400% 0;
    }
    100%
    {
      background-position: 0 0;
    }
  }