body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d7477;
}

.cars {
  margin-top: 40%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cars .carcard {
  height: 150px;
  background: #e94f37;
  margin: 1rem;
  display: flex;

  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.cars img {
  cursor: pointer;
}

.cars .carcard:hover {
  height: 270px;
}

.cars .carcard .carbox {
  position: relative;
  width: 300px;
  height: 260px;
  top: -60px;

  left: 0px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.cars .carcard .carbox img {
  max-width: 95%;
  border-radius: 4px;
}

.cars .carcard .description {
  position: relative;
  margin-top: -100px;
  padding: 10px 15px;
  text-align: center;
  color: wheat;
  visibility: hidden;
  opacity: 0;
}

.cars .carcard:hover .description {
  visibility: visible;
  opacity: 1;
}
