body {
  margin: 0;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  background-repeat: repeat;
  background-size: cover;
}

#mainMenu {
  margin: 5px;
  background-color: #b79d94;
  height: 4rem;
  position: relative;
  border: 2px solid #3c6e71;
  border-radius: 8px;
}

#mainMenu > button {
  border-radius: 8px;
  transition-duration: 0.4s;
  height: 3.2rem;
  max-width: auto;
  margin-left: 0.5rem;
  top: 50%;
  transform: translateY(10%);
  color: #55dde0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#logo {
  float: right;
  height: 4rem;
  max-width: auto;
}

#cars {
  display: flex;
}

.carPreview {
  position: relative;
  margin: 5px;
}

.carPreview > a > img {
  max-width: 30rem;
  height: auto;
}

.text-block {
  position: absolute;
  bottom: 10px;
  font-size: 0.2rem;
  right: 10px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 3rem;
  width: 5rem;
}

#contactus {
  margin: 0px;
  background-color: #b79d94;
  height: 4.8rem;
  position: relative;
  border: 2px solid #3c6e71;
  border-radius: 20px;
  height: 8rem;
}

.contact {
  position: absolute;
  bottom: 70px;
  font-size: 1.7rem;
  right: 1080px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  height: 5rem;
  width: 25rem;
}

.facebook {
  position: relative;
  margin: 0;
  top: 40px;
  left: 20px;
  background-color: #b79d94;
}

.facebook {
  max-width: 2rem;
  height: auto;
}

.name {
  position: absolute;
  font-size: 1rem;
  bottom: 37px;
  left: 47px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 51, 145, 0.521);
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: 19rem;
}

.name1 {
  position: absolute;
  font-size: 1rem;
  top: 63px;
  left: 45px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(7, 63, 248, 0.473);
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: 19rem;
}