body {
  margin: 0;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  background-repeat: repeat;
  background-size: cover;
}

#mainMenu {
  margin: 5px;
  background-color: #b79d94;
  height: 4rem;
  position: relative;
  border: 2px solid #3c6e71;
  border-radius: 8px;
}

#mainMenu > button {
  border-radius: 8px;
  transition-duration: 0.4s;
  height: 3.2rem;
  max-width: auto;
  margin-left: 0.5rem;
  top: 50%;
  transform: translateY(10%);
  color: #55dde0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#logo {
  float: right;
  height: 4rem;
  max-width: auto;
}

#cars {
  display: flex;
}

.carPreview {
  position: relative;
  margin: 10px;
  background: #060c2100;
}

.carPreview:before{
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -0px;
  background: #fff;
  z-index: -1;
}

.carPreview:after{
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -1px;
  background: rgb(243, 0, 0);
  z-index: -2;
  filter: blur(40px);
}

.carPreview:before,.carPreview:after{
  background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
  animation: animate 20s linear infinite;
  background-size: 400%;
}

.carPreview > a > img {
  max-width: 30rem;
  height: auto;
}

@keyframes animate{
  0%
  {
    background-position: 0 0;
  }
  50%
  {
    background-position: 400% 0;
  }
  100%
  {
    background-position: 0 0;
  }
}

.text-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 0.4s;
  opacity: 0;
  transition: opacity 0.5s;
}

.text-block{
  backdrop-filter: blur(5px);
}

.text-block > *{
  transform: translateY(20px);
  transition: transform 0.5s;
}

.text-block:hover{
  opacity: 1;
}

.text-block:hover > *{
  transform: translateY(0);
}

.title{
  font-size: 2rem;
  font-weight: bold;
}

.description{
  font-size: 1.25rem;
  margin-top: 0.25rem;
}

#contactus {
  margin: 0px;
  background-color: #b79d94;
  height: 4.8rem;
  position: relative;
  border: 2px solid #3c6e71;
  border-radius: 20px;
  height: 8rem;
}

.contact {
  position: absolute;
  bottom: 70px;
  font-size: 1.7rem;
  right: 1080px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  height: 5rem;
  width: 25rem;
}

.github {
  position: relative;
  margin: 0;
  top: 40px;
  left: 20px;
  background-color: #b79d94;
}

.github {
  max-width: 2rem;
  height: auto;
}

.linkedin {
  position: relative;
  margin: 0;
  bottom: 38px;
  left: 400px;
  background-color: #b79d94;
}

.linkedin {
  max-width: 2rem;
  height: auto;
}

.name {
  position: absolute;
  font-size: 1rem;
  bottom: 37px;
  left: 47px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: 19rem;
}

.name1 {
  position: absolute;
  font-size: 1rem;
  top: 63px;
  left: 45px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: 19rem;
}

.name2 {
  position: absolute;
  font-size: 1rem;
  bottom: 37px;
  left: 430px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(7, 63, 248, 0.473);
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: 19rem;
}

.name3 {
  position: absolute;
  font-size: 1rem;
  top: 63px;
  left: 430px;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(7, 63, 248, 0.473);
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: 19rem;
}