body {
  margin: 0px;
}
#mainMenu {
  margin: 5px;
}

#mainMenu > button {
  border-radius: 8px;
  transition-duration: 0.4s;
}

.carPreview {
  position: relative;
  margin: 5px;
}
.carPreview > a > img {
  max-width: 30rem;
  height: auto;
}
#pic1 {
  position: absolute;
  bottom: 10px;
  font-size: 1rem;
  right: 620px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  height: 5rem;
  width: 10rem;
}
#pic2 {
  position: absolute;
  bottom: 10px;
  font-size: 1rem;
  right: 150px;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  height: 5rem;
  width: 10rem;
}
