#cars {
  display: flex;
}

.carPreview {
  position: relative;
  margin: 10px;
  background: #060c2100;
  border-radius: 8px;
}

.carPreview:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -0px;
  background: #fff;
  z-index: -1;
  border-radius: 8px;
}

.carPreview:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -1px;
  background: rgb(243, 0, 0);
  z-index: -2;
  filter: blur(40px);
  border-radius: 8px;
}

.carPreview:before,
.carPreview:after {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  animation: animate 20s linear infinite;
  background-size: 400%;
}

.carPreview > a > img {
  max-width: 25rem;
  height: 200px;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
